body {
  background-image: url(../images/RSlogo.png);
  background-size: 15%;
  background-repeat: repeat;
}
#phone {
  display: block;
}
.schedule {
  background-color: white;
}
@media screen and (max-width: 48em) {
.section ul a {
  padding: 0;
}
.schedule {
  margin: auto;
}
table, thead, tbody, th, td, tr, caption { 
  display: block; 
}
thead tr { 
  position: absolute;
  top: -9999px;
  left: -9999px;
}
tr { border: 1px solid #ccc; }
td { 
  border: none;
  border-bottom: 1px solid #eee; 
  position: relative;
  padding-left: 50%; 
}
td:before { 
  position: absolute;
  top: 6px;
  left: 6px;
  width: 45%; 
  padding-right: 10px; 
  white-space: nowrap;
}
td:nth-of-type(1):before { content: "WHERE"; }
td:nth-of-type(2):before { content: "DATE"; }
td:nth-of-type(3):before { content: "WHEN"; }
td:nth-of-type(4):before { content: "CHECK IN"; }
}