body {
    background-image: url(../images/RSlogo.png);
    background-size: 15%;
    background-repeat: repeat;
  }
#samband {
    display: block;
    margin: 4em;
}
.centerTable {
    margin: 0px auto;
}
.container {
    margin: 4em;
}
.tafla {
    background-color: white;
    border-color: black;
    border-radius: 10px;
    padding: 1em;
}
.centre {
    margin-left: 10em;
    margin-right: 10em;
}
.form {
    margin-left: 10em;
    margin-right: 10em;
}
.takki {
    text-align: center;
    align-items: center;
}